body {
  height: 200vh;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6e8efb, #a777e3, #6e8efb, #a777e3);
  color: #333;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}
